#ignore everything
*

#whitelist
!*/
!.gitignore
!**.md
!hw*/**/*.[ch]
!hw*/**/CMakeLists.txt
!prj*/**/*.[ch]
!prj*/**/makefile

!prj*/**/*.[ch]
!prj*/**/Makefile


hw*/**/CMakeFiles/
hw*/**/*.mod.c

!prj3/*.pdf
!prj3/*.txt
!prj3/*.bin


0064568*
