#ignore everything
*

#whitelist
!*/
!.gitignore
!**.md
!hw*/**/*.[ch]
!hw*/**/CMakeLists.txt
!prj*/**/*.[ch]
!prj*/**/makefile

!prj*/**/*.[ch]
!prj*/**/Makefile


hw*/**/CMakeFiles/
hw*/**/*.mod.c

0064568*
